body {
    font-family: 'Permanent Marker', cursive;
    background-color: #ac3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #dbd4d4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333333;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#hangman-container {
    margin-bottom: 30px;
}

#word-container {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    color: #666666;
}

#message {
    font-size: 24px;
    margin-bottom: 30px;
    color: #ac3b3b;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#input-container {
    margin-bottom: 20px;
}

#letter-input {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    padding: 10px;
    width: 60px;
    text-transform: uppercase;
    border: 2px solid #333333;
    border-radius: 5px;
    text-align: center;
}

#guess-button {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #ac3b3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#guess-button:hover {
    background-color: #666666;
}